{% extends 'base.html' %}

{% block content %}

    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Ishonchiz komilimi "{{ object.title }}" shu postni o'chirmoqchimmisiz?</h2>
                <!-- {{ form.as_p }} -->

                <!-- formalar bilan ishlash uchun kerak buladi bootstrap bilan -->

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}" >Yo'q</a>
            </div>
        </form>
    </div>
    
{% endblock content %}