{% extends 'base.html' %}


{% block content %}


<section class="team" id="team">
    <div class="container mt-5" data-aos="fade-right"
        data-aos-easing="ease-in-sine">
        <header class="section-header">
            <h1 class="title-cards">{{ view.kwargs.username|title }}ning postlari. Soni:{{ page_obj.paginator.count }}</h1>
            <div class="team-line">
                <div class="d-flex team-lne">
                    <hr>
                    <div class="chz"></div>
                </div>
            </div>
        </header>
        
        <div class="row d-flex">

            {% for post in posts %}
                <div class="col-md-3 mt-5" style="padding: 0 12 0 12;">
                    <div class="card shadow text-center">
                        <div class="inner">
                            <img class="card-img" src="{{ post.image.url }}" alt="Blog">
                        </div>
                        <div class="card-body lck-team">
                            <div class="card-title"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></div>
                            <p class="card-text">{{ post.content | safe | truncatewords:"5" }}</p>
                        </div>
                              <div class="article-metadata">
                                    Posted by: <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a><br>
                                    Create at: <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> 
                                </div><br>
                        <center><a class="btn btn-success btn-team" href="{% url 'post-detail' post.id %}">Batafsil</a></center>
                    </div>
                </div>
            {% empty %}
                <h2 class="ind-blog-txt">Blog mavjud emas...</h2>
            {% endfor %}

            {% comment %} paginations {% endcomment %}
            {% if is_paginated %}
                <div class="Pagen w-100">
                    <div class="pagination mt-5">
                        <ul>
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><li class="bttn prev page-li-hov"><span><i class="fas fa-angle-left"> Back</i></span></li></a>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <a href="?page={{ num }}"><li class="numb page-li-hov active"><span>{{num}}</span></li></a>
                                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                                <a href="?page={{ num }}"><li class="numb page-li-hov"><span>{{ num }}</span></li></a>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><li class="bttn next page-li-hov"><span>Next <i class="fas fa-angle-right"></i></span></li></a> 
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}

        </div>
    </div>
</section>

{% endblock content %}