{% extends 'blog/base.html' %}


{% block content %}

<h1 class="mb-3"> {{ view.kwargs.username|title }}ning postlari. Soni:{{ page_obj.paginator.count }}</h1>

{% for post in posts %}
  <article class="media content-section">
    <img src="{{ post.author.profile.image.url }}" alt="rasm" class="rounded-circle article-img">
    <img width="100" src="{{ post.image.url }}" alt="post-rasm" >
   
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  {% empty %}
      <h2 class="ind-blog-txt">Blog mavjud emas...</h2>
{% endfor %}

  <!-- pagination qismi -->

  {% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info mb-4">Birinchi</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4"><i class="fas fa-hand-point-left"></i></a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}

        <a href="?page={{ num }}" class="btn btn-info mb-4">{{num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>

      {% endif %}
    {% endfor %}

  
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4"><i class="fas fa-hand-point-right"></i></a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">So'ngi</a>
    {% endif %}

  {% endif %}

{% endblock content %}