{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block content %}

<style>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input {
    font-family: "Poppins", sans-serif;
}

.nav-bar {
    background-color: #f4f8f7;
    box-shadow: 0 0 30px rgb(127 137 161 / 30%);
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.nav-item .active {
    color: #5fcf80 !important;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.before-back-res {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transition: 1.8s ease-in-out;
    transform: translate(-80%, -40%) rotate(-12deg);
    background-image: linear-gradient(-45deg, #07192f 0%, #082a54 100%);
}

.reset-header-btn {
    color: white;
    background-color: #053774;
    border-radius: 30px !important;
}

.reset-box {
    border-radius: 25px !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (max-width: 600px) {
    .reset-header-title {
        font-size: 20px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 992px) {
    .before-back-res {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        transition: 1.8s ease-in-out;
        transform: translate(-90%, -60%) rotate(-15deg);
        background-image: linear-gradient(-45deg, #07192f 0%, #082a54 100%);
    }
}

.reset-sub-btn {
    margin-left: 1%;
    background-color: #053774;
    border-radius: 30px !important;
}

.reset-input-title {
    display: flex;
    margin-left: 1%;
}

.input-field {
    width: 100%;
    height: 55px;
    display: grid;
    margin: 10px 0;
    max-width: 380px;
    padding: 0 0.4rem;
    position: relative;
    border-radius: 55px;
    background-color: #f0f0f0;
    grid-template-columns: 15% 85%;
}

.input-field i {
    color: #acacac;
    transition: 0.5s;
    line-height: 55px;
    font-size: 1.1rem;
    text-align: center;
}

.input-field input {
    color: #333;
    border: none;
    outline: none;
    line-height: 1;
    background: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.eye {
    margin-left: 85%;
    position: absolute;
}

#hide111 {
    display: none;
}

#hid111 {
    display: none;
}

</style>

{% if validlink %}
<section class="my-5 reset-pass">
    <div class="before-back-res"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="col-12 pb-lg-4 pb-md-3 pb-2">
                    <h2 class="col-lg-6 col-12 text-center mx-auto reset-header-title"> <br> Yangi parol :</h2>
                </div>
                {% if messages %}
                {% for message in messages %}
                   <script>alert('{{message}}')</script>
                {% endfor %}
              {% endif %}
                <div class="col-lg-8 mx-auto py-5 reset-box">
                    <form action="#" class="reset-password-form w-100" method="POST">
                        {% csrf_token %}
                        <center><div class="reset-pass-big-div mx-auto col-lg-7 col-md-7">
                            <h5 class="reset-input-title col-lg-9 col-sm-8 col-8 col-xl-9">Yangi parol kiriting      :</h5>
                           
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                {% render_field form.new_password1 placeholder="Yangi parol" id="myInput2"  %}
                                <span class="eye" onclick="myFunction2()">
                                    <i id="hide111" class="fa fa-eye"></i>
                                    <i id="hide222" class="fa fa-eye-slash"></i>
                                </span>
                            </div>
                            <h5 class="reset-input-title mt-4 col-lg-9 col-sm-8 col-8 col-xl-9">Parolni takrorlang :</h5>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                {% render_field form.new_password2 id="myInput3" placeholder="Parolni takrorlang"  %}
                                <span class="eye" onclick="myFunction3()">
                                    <i id="hid111" class="fa fa-eye"></i>
                                    <i id="hid222" class="fa fa-eye-slash"></i>
                                </span>
                            </div>
                            <small>*Parol 8 tadan ko'p bo'lishi shart!</small>
                            <button class="btn col-lg-5 col-6 mt-3 d-flex justify-content-center mx-auto py-2 text-white text-center reset-sub-btn" type="submit" onclick="password_alert()">Yuborish</button>
                        </div></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<h3 class="w-100 py-5 text-center">Bu kod xato yoki allaqachon foydalanilgan. Iltimos yangi xabardan foydalaning.</h3>
{% endif %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    function password_alert() {
        const value = document.getElementById('myInput2').value;
        const value2 = document.getElementById('myInput3').value;
        if (value.length > 8 && value2.length > 8 && value.length === value2.length) {
            alert('Yangi parol o\'rnatildi qayta ro\'yhatdan o\'ting...')
        }
    }
</script>
<script>
    function myFunction2(){
        const container = document.querySelector(".container");
        const x = document.getElementById('myInput2');
        const y = document.getElementById('hide111');
        const z = document.getElementById('hide222');
    
        if(x.type === 'password'){
            x.type = 'text';
            y.style.display = 'block';
            z.style.display = 'none';
        }
        else{
            x.type = 'password';
            y.style.display = 'none';
            z.style.display = 'block';
        }
    }
    
    function myFunction3(){
        const container = document.querySelector(".container");
        const q = document.getElementById('myInput3');
        const w = document.getElementById('hid111');
        const e = document.getElementById('hid222');
    
        if(q.type === 'password'){
            q.type = 'text';
            w.style.display = 'block';
            e.style.display = 'none';
        }
        else{
            q.type = 'password';
            w.style.display = 'none';
            e.style.display = 'block';
        }
    }
</script>
{% endblock content %}