{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
.reset-songisi-box {
    border-radius: 20px !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.1) !important;
}

.reset-songisi-btn {
    color: white;
    transition: 0.4s;
    border-radius: 30px;
    outline: none !important;
    background-color: #082a54;
}

.reset-songisi-btn:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3), 0 0 50px rgba(0, 0, 0, .3) !important;
}

@media only screen and (max-width: 600px) {
    .reset-songisi-title {
        font-size: 18px;
    }
}
</style>

<section class="my-5 reset-songisi">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="col-lg-10 mx-auto py-5 reset-songisi-box">
            <h2 class="col-lg-8 col-12 text-center mx-auto reset-songisi-title">Parol o'rnatildi. Login bo'lib kirishingiz mumkin.</h2>
            <div class="col-12 mx-auto pt-3">
                <a href="{% url 'login' %}" class="d-flex justify-content-center mx-auto col-lg-4 col-md-5" style="text-decoration: none; color: white;"><button class="w-100 border-0 py-2 reset-songisi-btn">Login</button></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    alert('yangi parol ornatildi')
</script>

{% endblock content %}
