{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block content %}

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input {
    font-family: "Poppins", sans-serif;
}

.nav-bar {
    background-color: #f4f8f7;
    box-shadow: 0 0 30px rgb(127 137 161 / 30%);
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.nav-item .active {
    color: #5fcf80 !important;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.before-back-res-email {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transition: 1.8s ease-in-out;
    transform: translate(-80%, -40%) rotate(-12deg);
    background-image: linear-gradient(-45deg, #07192f 0%, #082a54 100%);
}

.email-reset-box {
    border-radius: 25px !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (max-width: 600px) {
    .email-reset-header-title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 992px) {
    .before-back-res-email {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        transition: 1.8s ease-in-out;
        transform: translate(-90%, -60%) rotate(-15deg);
        background-image: linear-gradient(-45deg, #07192f 0%, #082a54 100%);
    }
}

.email-reset-sub-btn {
    margin-left: 1%;
    outline: none !important;
    cursor: pointer;
    background-color: #053774;
    border-radius: 30px !important;
}

.email-reset-input-title {
    display: flex;
    margin-left: 1%;
}

.input-field {
    width: 100%;
    height: 55px;
    display: grid;
    margin: 10px 0;
    max-width: 380px;
    padding: 0 0.4rem;
    position: relative;
    border-radius: 55px;
    background-color: #f0f0f0;
    grid-template-columns: 15% 85%;
}

.input-field i {
    color: #acacac;
    transition: 0.5s;
    line-height: 55px;
    font-size: 1.1rem;
    text-align: center;
}

.input-field input {
    color: #333;
    border: none;
    outline: none;
    line-height: 1;
    background: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

</style>

<section class="my-5 email-reset-pass">
    <div class="before-back-res-email"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="col-12 pb-lg-4 pb-md-3 pb-2">
                    <h2 class="col-lg-6 col-12 text-center mx-auto email-reset-header-title">Emailingizni kiriting!</h2>
                </div>
                <div class="col-lg-8 mx-auto py-5 email-reset-box">
                    <form action="#" class="email-reset-password-form w-100" method="POST">
                        {% csrf_token %}
                        <div class="email-reset-pass-big-div mx-auto d-flex flex-wrap justify-content-center col-lg-7 col-md-7">
                            <h5 class="email-reset-input-title col-lg-9 col-md-11 col-sm-9 col-10">Email :</h5>
                            <div class="input-field col-12">
                                <i class="fas fa-at"></i>
                                {% render_field form.email id="email" placeholder="Email"  %}
                            </div>
                        </div>
                        <button class="border-0 col-lg-3 col-6 mt-3 d-flex justify-content-center mx-auto py-2 text-white text-center email-reset-sub-btn" type="submit" onclick="email_alert()">Tiklash</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}