{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    .email-pochtaga-xabar-box {
        border-radius: 20px !important;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.1) !important;
    }
    
    @media only screen and (max-width: 600px) {
        .email-pochtaga-habar-title {
            font-size: 18px;
        }
    }
    
</style>
    
<section class="my-5 email-pochtaga-xabar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="col-lg-10 mx-auto py-5 email-pochtaga-xabar-box">
                    <h2 class="col-lg-8 col-12 text-center mx-auto email-pochtaga-habar-title">Email pochtangizga xabar yubordik...</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    
    <script>
        alert('Email pochtangizga yangi parol yubordik...')
    </script>

{% endblock content %}