@media (min-width: 1170px) and (max-width: 1199px) {
    .container {width:1170px}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
    .container {width:970px}
    .mainmenu ul li { margin-right: 25px;}
    .slider-banner-2 { margin-top: 24px;}
    .blog-content-left { padding-left: 100px;}
    .header-icons a i { width: 30px;}
    .header-search { width: 170px;}
    .single-gallary { width: 222px;}
    .not-found { left: 335px;}

    .single-blog-picture { width: 330px;}
    .latest-text p {
        color: #343434;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;}
    .latest-text { padding-left: 15px;}

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .container {width:750px}
    .header-icons, .header-search { display: none;}
    .little-bit-area { margin-top: 50px;}
    .little-bit { padding: 0 50px;}
    .little-bit p { margin-top: 30px;}
    .single-blog { margin-top: 30px;}
    .blog-content { margin-top: 30px;}
    .blog-content-left { padding-left: 50px;}
    a.continue-reading { margin-top: 5px;}
    .about-text, .popular-tag ul, .subscribe p { margin-top: 15px;}
    .footer-icons { margin-top: 10px;}
    .popular-tag, .subscribe {margin-top: 50px;}
    .blog-pagination, .instagram-area { margin-top: 30px;}
    .single-blog-main img { width: 250px;}
    .single-gallary { width: 228px;}
    .not-found { left: 225px;}
    .blog-one-quote { padding: 30px 50px;}
    .categories-tag-list span { float: right;
        margin-right: 0px;}
    .latest-comments h2,.featured-post h2 { font-size: 20px;}
    .about-me-quote { margin: 50px 55px;}
    .about-me-quote {padding: 45px 115px 45px 65px;}
    .admin {margin-top: 30px;}
    .latest-comments {  display: none;}
    h2.sidebar-post-title {  margin-top: 15px;}
    .single-blog-picture {  width: 252px;}
    .latest-picture {
        width: 100%;}
    .latest-text {
        padding-left: 0;
        width: 100%;}
    .categories-tags ul li { margin-right: 5px;}
    .categories-tags ul li a { padding: 8px 7px;}
    .slider-banner-2 { margin-top: 24px;}
    .single-instagram a img {width: 100%;}
    .comments-box, .tab-margn { margin-top: 50px;}

}


/* small mobile :320px. */
@media (max-width: 767px) {
    .container {width:300px}
    .header-top-area { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
    .mean-container .mean-bar { background: #000 none repeat scroll 0 0;}
    .mean-container .mean-nav ul li a {
        font-family: "Oswald",sans-serif;
        color: #232626;}
    .mean-container .mean-nav ul li li a {  color: #232626;}
    .mean-container .mean-bar { padding: 0;}
    .mean-container .mean-bar::after {}
    .mean-container .mean-bar::after {
        top: 8px;
        font-family: "Oswald",sans-serif;}
    .header-icons, .header-search, .blog-content-right, h4.home-posted {
        display: none;}
    .single-slider-banner.slider-banner-1 img, .single-slider-banner.slider-banner-2 img, .single-categories a img { width: 100%;}
    .slider-banner-1 {
        margin-top: 27px;}
    .little-bit-area, .blog-pagination, .single-categories, .top-categories, .categories-area, .single-blog-area, .single-blog-main {
        margin-top: 40px;}
    .little-bit { padding: 0;}
    .little-bit h1, .blog-banner-text h2, .contact-banner-text h2, .about-banner-text h2 {
        font-size: 20px;}
    .section-heading h2 {
        font-size: 24px;}
    .little-bit p, .blog-content-left p, .contact-text p, p.categories-text, .about-me-text p, .single-blog-main p, .categories-tag-list p a {
        font-size: 16px;
        line-height: 21px;}
    .little-bit p, .single-blog, .blog-content, .blog-pagination {
        margin-top: 30px;}
    .featured-post, .latest-riviews, .latest-comments, .categories-tags, .single-blog-top {
        margin-top: 30px;}
    .instagram-area {  margin-top: 8px;}
    .single-instagram img { width: 100%;}
    .blog-content-left {
        padding-left: 0;
        padding-right: 0;}
    .comments {float: left;}
    a.continue-reading { margin-top: 5px;}
    .tags-comments { margin-top: 20px;}
    .about-text, .popular-tag ul, .subscribe p { margin-top: 15px;}
    .footer-icons { margin-top: 10px;}
    .footer-about { margin-top: 50px;}
    .popular-tag, .subscribe {margin-top: 30px;}
    p.categories-text, .margin-zero, .send-comments, .comments-margin {
        margin-top: 0;}
    .blog-one-quote { padding: 5px 30px;}
    .pagination ul li a {  margin-bottom: 20px;}
    .pagination-none {	display: none;}
    .margin-top {	margin-top: 30px;}
    .gallary-area {  margin-top: 50px;}
    .single-gallary {  width: 265px;}
    h2.gallary-title {
        font-size: 20px;
        left: 20px;
        top: 10px;}
    .about-me-quote {
        margin: 50px 0 0;
        padding: 40px 65px 40px 20px;}
    .about-me-quote::before {
        font-size: 35px;
        right: 10px;}
    .admin {  margin-top: 20px;}
    .about-me-text {  margin-top: 50px;}
    .contact-text {  margin-top: 50px;}
    .contact-message-box {  margin-top: 50px;}
    .message-box p {  margin-top: 0;}
    .not-found { left: 9px;
        padding:0 9px;}
    .comming-soon-us h2 {
        font-size: 22px;
        line-height: 27px;}

    .comming-soon-us p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;}
    .stay-connected a {
        margin-right: 15px;}
    .contact-social a {  margin-right: 10px;}
    .message-box input, .message-box textarea {  width: 90%;}
    .message-box button.send {  margin-right: 10%;}
    .comming-soon-timer, .stay-connected {  margin-top: 50px;}
    .comming-soon-us {margin-top: 10px;}
    .single-blog-picture {
        margin-bottom: 30px;
        margin-right: 0;
        width: 100%;}
    .single-blog-main img {  width: 100%;}
    .comments-box {  margin-top: 30px;}
    .comments-box h2 {margin-bottom: 30px;}
    .comments-2 {  margin-top: 30px;}
    .tags a, .comments a {  margin-left: 4px;}
    .single-comments {margin-top: 30px;}
    .single-comments-curosel .single-comments {
        margin-top: 0;}
    .little-bit h2 { font-size: 24px;}
    .latest-picture {
        width: 100%;}
    .latest-text {
        display: inline-block;
        margin-top: 10px;
        padding-left: 0;
        width: 100%;}
    .sorry { letter-spacing: 3px;}
    .four-zero-four { padding: 70px 0;}
    .latest-post { margin-top: 30px;}
    .instagram-area.margin-mbl { margin-top: 50px;}
    .about-me-quote::before { bottom: 10px;}
    .message-box { margin-top: 30px;}
    .text-left { text-align: left;}

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {width:450px}
    .header-top-area { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
    .mean-container .mean-bar { background: #000 none repeat scroll 0 0;}
    .mean-container .mean-nav ul li a { font-family: "Oswald",sans-serif;  color: #232626;}
    .mean-container .mean-nav ul li li a { color: #232626;}
    .mean-container .mean-bar { padding: 0;}
    .mean-container .mean-bar::after {
        top: 8px;
        font-family: "Oswald",sans-serif;}
    .little-bit h2 {  font-size: 26px;}
    .header-icons, .header-search, .blog-content-right, h4.home-posted {
        display: none;}
    .single-slider-banner.slider-banner-1 img, .single-slider-banner.slider-banner-2 img, .single-categories a img { width: 100%;}
    .slider-banner-1 {
        margin-top: 27px;}
    .little-bit-area, .single-categories, .top-categories, .categories-area, .single-blog-area, .single-blog-main {
        margin-top: 30px;}
    .little-bit { padding: 0;}
    .little-bit h1, .blog-banner-text h2, .contact-banner-text h2, .about-banner-text h2 {
        font-size: 20px;}
    .section-heading h2 {
        font-size: 24px;}
    .little-bit p, .blog-content-left p, .contact-text p, p.categories-text, .about-me-text p, .single-blog-main p, .categories-tag-list p a {
        font-size: 16px;
        line-height: 21px;}
    .little-bit p, .single-blog, .blog-content, .blog-pagination {
        margin-top: 30px;}
    .instagram-area { margin-top: 8px;}
    .instagram-area.margin-mbl { margin-top: 50px;}
    .blog-content-left {
        padding-left: 0;
        padding-right: 0;}
    .comments {float: left;}
    a.continue-reading { margin-top: 5px;}
    .tags-comments { margin-top: 20px;}
    .about-text, .popular-tag ul, .subscribe p { margin-top: 15px;}
    .footer-icons { margin-top: 10px;}
    .footer-about { margin-top: 50px;}
    .popular-tag, .subscribe {margin-top: 30px;}
    p.categories-text, .margin-zero, .send-comments, .comments-margin {
        margin-top: 0;}
    .blog-one-quote { padding: 5px 30px;}
    .pagination ul li a { margin-bottom: 20px;}
    .pagination-none {display: none;}
    .margin-top {margin-top: 50px;}
    .gallary-area {  margin-top: 50px;}
    .single-gallary {  width: 200px;}
    h2.gallary-title {
        font-size: 20px;
        left: 20px;
        top: 10px;}
    .about-me-quote {
        margin: 50px 0 0;
        padding: 40px 65px 40px 20px;}
    .about-me-quote:before {
        font-size: 35px;
        right: 10px;}
    .admin {  margin-top: 20px;}
    .about-me-text {  margin-top: 50px;}
    .contact-text {  margin-top: 50px;}
    .contact-message-box {  margin-top: 50px;}
    .message-box p {  margin-top: 0;}
    .not-found {
        left: 83px;
        padding: 0 12px;}
    .comming-soon-us h2 {
        font-size: 30px;
        line-height: 45px;}
    .comming-soon-us p {
        margin-left: 50px;
        margin-right: 50px;}
    .stay-connected a {  margin-right: 15px;}
    .comming-soon-timer, .stay-connected {  margin-top: 50px;}
    .comming-soon-us {margin-top: 10px;}
    .featured-post, .latest-riviews, .latest-comments, .categories-tags, .single-blog-top {
        margin-top: 30px;}
    .single-blog-picture {
        margin-bottom: 10px;
        margin-right: 20px;
        width: 50%;
    }
    .single-blog-main img {
        width: 100%;}
    .comments-box {  margin-top: 30px;}
    .comments-box h2 {margin-bottom: 30px;}
    .comments-2 {  margin-top: 30px;}
    .single-comments {margin-top: 30px;}
    .single-comments-curosel .single-comments {  margin-top: 0;}
    .latest-picture { width: 50%;}
    .latest-text {
        padding-left: 15px;
        width: 50%;}
    .latest-post { margin-top: 30px;}
    .tags a, .comments a { margin-left: 15px;}
    .four-zero-four {  padding: 70px 0;}
    .about-me-quote::before {  bottom: 10px;}
    .message-box {  margin-top: 30px;}
    .text-left { text-align: left;}



}

